@using SilentNotes.ViewModels
@model NoteViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="@Model.HtmlBase">
    <title>SilentNotes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="silentnotes.css" rel="stylesheet" />
    <link href="@(Model.Theme.DarkMode ? "silentnotes.dark.css" : "silentnotes.light.css")" rel="stylesheet" />

    <link href="quill/quill.snow.css" rel="stylesheet">
    <link href="note-view.css" rel="stylesheet">
    <link href="quillsearchhighlighter.css" rel="stylesheet">

    <script src="vue.min.js"></script>
    <script src="jquery-3.5.1.slim.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="silentnotes.js"></script>
    <script src="checklist.js"></script>
    <script src="quill/quill.min.js"></script>
    <script src="quillsearchhighlighter.js"></script>

    <style type="text/css">
body { background-color: transparent; }

.note-viewer {
    font-size: @(Model.NoteBaseFontSize)px !important;
}
div .detail-view.checklist .ql-editor p::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
div .detail-view.checklist .ql-editor p.done::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("check-box-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
div .detail-view.checklist .ql-editor p.disabled::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
div .detail-view.checklist .ql-editor p::after { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("delete", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
div.dark .detail-view.checklist .ql-editor p::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }
div.dark .detail-view.checklist .ql-editor p.done::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("check-box-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }
div.dark .detail-view.checklist .ql-editor p.disabled::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }
div.dark .detail-view.checklist .ql-editor p::after { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("delete", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }

.color-btn { color: black; }
.color-btn.dark { color: white; }
.locked {
    position: relative;
    height: 100%;
}
.locked svg {
    fill: rgba(160, 160, 160, 0.4);
}
#pretty-time-ago {
    position: fixed;
    display: inline-block;
    margin: 0;
    padding: 0.1em 0.8em 0.15em 0.8em;
    right: 0;
    bottom: 0;
    color: black;
    background-color: rgba(128, 128, 128, 0.2);
	pointer-events: none; /* do not prevent clicks on recyclebin */
}
#pretty-time-ago.dark {
    color: white;
    background-color: rgba(211, 211, 211, 0.3);
}

    </style>
    <script>
        var quill;
        var searchHighlighter;

        function toggleFormat(formatName) {
            var selectionFormat = quill.getFormat();
            var selectionFormatValue = selectionFormat[formatName];
            selectionFormatValue = !selectionFormatValue;
            quill.format(formatName, selectionFormatValue, 'user');
        }

        function toggleBlockFormat(formatName, blockType) {
            var selectionFormat = quill.getFormat();
            var selectionFormatValue = selectionFormat[formatName];
            var newSelectionFormat; // undefined removes the block format
            if (selectionFormatValue !== blockType)
                newSelectionFormat = blockType;
            quill.format(formatName, newSelectionFormat, 'user');
        }

        function getNoteHtmlContent() {
            return quill.root.innerHTML;
        }

        function setNoteHtmlContent(text) {
            quill.setText(text, 'user');
        }

        function toggleSearchDialog() {
            var makeVisible = $('#search-dialog').hasClass('hidden');
            showSearchDialog(makeVisible);
        }

        function showSearchDialog(visible) {
            if (visible) {
                // Open dialog
                $('#search-dialog').removeClass('hidden');
                $('#TxtFilter').focus();
                searchHighlighter.startListening();
            }
            else {
                // Close dialog
                searchHighlighter.stopListening();
                searchHighlighter.clearSearchHighlights();
                $('#search-dialog').addClass('hidden');
                $('#TxtFilter').val('');
            }
        }

        function scrollToTop() {
            var element = quill.root;
            element.scrollTop = 0;
        }

        function scrollToBottom() {
            var element = quill.root;
            element.scrollTop = element.scrollHeight;
        }

        $(function () {
            // quill "imports" the existing html content and looses the class attributes,
            // that's why we save and reapply the check states.
            var checkStates = saveCheckStates();
            quill = new Quill('#myeditor', {
                formats: ['header'],
                modules: {
                    toolbar: {
                        container: '#quill-toolbar',
                    },
                },
                theme: 'snow',
            });
            restoreCheckStates(checkStates);

            quill.on('text-change', function (delta, oldDelta, source) {
                if (source === 'user') {
                    vuePropertyChanged('UnlockedHtmlContent', null);
                }
            });

            $(quill.root).one("focusin", function () {
                vm.PrettyTimeAgoVisible = false;
            });

            searchHighlighter = new QuillSearchHighlighter(quill, document.getElementById("TxtFilter"));

            var noteContent = getNoteHtmlContent();
            var noteIsNew = noteContent.length > 1 && noteContent.length < 42 && noteContent.replace(/<[^>]*>/g, '').trim().length == 0;
            if (noteIsNew) {
                toggleBlockFormat('header', 1);
            }
        });

        @{WriteLiteral(Model.VueDataBindingScript);}
    </script>
</head>
<body><div id="vueDataBinding">
    <nav id="navigation" class="d-flex">
        <button class="nav-item mr-auto" v-on:click="GoBackCommand" title="@Model.Language["back"]">@{WriteLiteral(Model.Icon["arrow-left"]);}</button>

        @if (!Model.IsLocked)
        {
            <button class="nav-item" onclick="moveUp(true); return false;" title="@Model.Language["checklist_move_to_top"]">@{WriteLiteral(Model.Icon["arrow-collapse-up"]);}</button>
            <button class="nav-item" onclick="moveUp(false); return false;" title="@Model.Language["checklist_move_up"]">@{WriteLiteral(Model.Icon["arrow-up"]);}</button>
            <button class="nav-item" onclick="moveDown(false); return false;" title="@Model.Language["checklist_move_down"]">@{WriteLiteral(Model.Icon["arrow-down"]);}</button>
            <button class="nav-item" onclick="moveDown(true); return false;" title="@Model.Language["checklist_move_to_bottom"]">@{WriteLiteral(Model.Icon["arrow-collapse-down"]);}</button>
        }

        <span id="quill-toolbar" class="d-inline-flex">
            @if (!Model.IsLocked)
            {
                <button class="nav-item ql-header" value="1" title="@Model.Language["note_header1"]"></button>
                <button class="nav-item ql-header" value="2" title="@Model.Language["note_header2"]"></button>
            }
        </span>

        <!-- Color dropdown -->
        <div class="dropdown">
            @if (!Model.IsLocked)
            {
                <button class="nav-item" onclick="toggleSearchDialog(); return false;" title="@Model.Language["search"]">@{WriteLiteral(Model.Icon["magnify"]);}</button>
                <button class="nav-item" id="colorDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="@Model.Language["note_colors"]">
                    @{WriteLiteral(Model.Icon["palette"]);}
                </button>
            }
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="colorDropdownMenu">
                @foreach (var backgroundColor in @Model.BackgroundColorsHex)
                {
                    <div class="dropdown-item color-btn @Model.GetDarkClass(backgroundColor)" v-on:click="BackgroundColorHex='@(backgroundColor)'" style="background-color: @backgroundColor">Lorem ipsum</div>
                }
            </div>
        </div>

        <!-- Dropdown Menu -->
        @if (!Model.IsLocked)
        {
            <div class="dropdown">
                <button class="nav-item" id="navOverflowMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @{WriteLiteral(Model.Icon["dots-vertical"]);}
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navOverflowMenu">
                    <div class="dropdown-item" onclick="movePendingToTop(); return false;">@{WriteLiteral(Model.Icon["sort-bool-descending-variant"]);} @Model.Language["checklist_move_pending_to_top"]</div>
                    <div class="dropdown-item" onclick="setCheckedStateForAll(false, false); return false;">@{WriteLiteral(Model.Icon["checkbox-multiple-blank-outline"]);} @Model.Language["checklist_uncheck_all"]</div>
                    <div class="dropdown-item" onclick="setCheckedStateForAll(true, false); return false;">@{WriteLiteral(Model.Icon["check-box-multiple-outline"]);} @Model.Language["checklist_check_all"]</div>
                    <div class="dropdown-item" onclick="setCheckedStateForAll(false, true); return false;">@{WriteLiteral(Model.Icon["checkbox-blank-off-outline"]);} @Model.Language["checklist_disable_all"]</div>
                    @if (Model.ShowManualSynchronization)
                    {
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-item" v-on:click="PushNoteToOnlineStorageCommand">@{WriteLiteral(Model.Icon["cloud-upload"]);} @Model.Language["note_push_to_server"]</div>
                        <div class="dropdown-item" v-on:click="PullNoteFromOnlineStorageCommand">@{WriteLiteral(Model.Icon["cloud-download"]);} @Model.Language["note_pull_from_server"]</div>
                    }
                </div>
            </div>
        }
    </nav>

    <div id="content" v-bind:class="{ dark: IsDark }" v-bind:style="{ backgroundColor: BackgroundColorHex }">
        @if (Model.IsLocked)
        {
            <span class="locked d-flex justify-content-center align-items-center" v-bind:class="{ dark: IsDark }"><svg width='128' height='128' viewBox='0 0 24 24'><use xlink:href="#svg-lock-outline" /></svg></span>
        }
        else
        {
            <div id="myeditor" class="note-viewer detail-view @Model.CssClassNoteType">@{WriteLiteral(Model.UnlockedHtmlContent);}</div>
        }
    </div>

    <div id="pretty-time-ago" v-if="PrettyTimeAgoVisible" v-bind:class="{ dark: IsDark }">{{ PrettyTimeAgo }}</div>

    <div id="search-dialog" class="hidden">
        <div class="nav-filter">
            <input id="TxtFilter" autocomplete="off" />
            <svg id="filter-cancel-icon" width='24' height='24' viewBox='0 0 24 24' class="" onclick="showSearchDialog(false);"><use xlink:href="#svg-close-circle-outline" /></svg>
        </div>
    </div>

    <div hidden>
        @{WriteLiteral(Model.Icon.LoadIcon("lock-outline", new[] { new KeyValuePair<string, string>("id", "svg-lock-outline") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("delete", new[] { new KeyValuePair<string, string>("id", "svg-delete") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("close-circle-outline", new[] { new KeyValuePair<string, string>("id", "svg-close-circle-outline") }));}
    </div>
</div></body>
</html>
