@using SilentNotes.ViewModels
@model CloudStorageAccountViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="@Model.HtmlBase">
    <title>SilentNotes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="silentnotes.css" rel="stylesheet" />
    <link href="@(Model.Theme.DarkMode ? "silentnotes.dark.css" : "silentnotes.light.css")" rel="stylesheet" />

    <script src="vue.global.prod.js"></script>
    <script src="jquery-3.5.1.slim.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="silentnotes.js"></script>
    <script>
        @{WriteLiteral(Model.VueDataBindingScript);}
    </script>
</head>
<body><div id="vueDataBinding">
    <nav id="navigation" class="d-flex">
        <button class="nav-item mr-auto" v-on:click="GoBackCommand" title="@Model.Language["back"]">@{WriteLiteral(Model.Icon["arrow-left"]);}</button>
    </nav>

    <div id="content" class="container-fluid p-4">
        <svg class="background-icon" width='24' height='24' viewBox='0 0 24 24'><use xlink:href="#svg-settings" /></svg>

        <h2>@Model.Language["cloud_service_credentials"]</h2>
        <form class="mb-4 col-md-9">
            <div class="form-row form-group">
                <label class="col-form-label col-md-3" for="CloudServiceName">@Model.Language["cloud_service"]</label>
                <div class="col-md-9">
                    <input type="text" readonly class="form-control-plaintext" id="CloudServiceName" value="@Model.CloudServiceName">
                </div>
            </div>
            <div class="form-row form-group" @if (!Model.NeedsUrl) { @("hidden") ; }>
                <label class="col-form-label col-md-3" for="Url">@Model.Language["cloud_url"]</label>
                <div class="col-md-9">
                    <input type="url" class="form-control" v-model="Url" id="Url">
                </div>
            </div>
            <div class="form-row form-group" @if (!Model.NeedsUsername) { @("hidden") ; }>
                <label class="col-form-label col-md-3" for="Username">@Model.Language["cloud_username"]</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" v-model="Username" id="Username">
                </div>
            </div>
            <div class="form-row form-group" @if (!Model.NeedsPassword) { @("hidden") ; }>
                <label class="col-form-label col-md-3" for="Password">@Model.Language["cloud_password"]</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" v-model="Password" id="Password">
                </div>
            </div>
            <div class="form-row form-group form-check" @if (!Model.NeedsSecureFlag) { @("hidden") ; }>
                <input class="form-check-input" type="checkbox" id="Secure" v-model="Secure">
                <label class="form-check-label" for="Secure">@Model.Language["cloud_secure"]</label>
            </div>
            <button type="button" class="btn btn-primary mb-2" v-on:click="OkCommand">@Model.Language["continue"]</button>
            <button type="button" class="btn btn-secondary mb-2" v-on:click="CancelCommand">@Model.Language["cancel"]</button>
        </form>
    </div>

    <div hidden>
        @{WriteLiteral(Model.Icon.LoadIcon("settings", new[] { new KeyValuePair<string, string>("id", "svg-settings") }));}
    </div>
</div></body>
</html>
