@using SilentNotes.ViewModels
@model InfoViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="@Model.HtmlBase">
    <title>SilentNotes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="silentnotes.css" rel="stylesheet" />
    <link href="@(Model.Theme.DarkMode ? "silentnotes.dark.css" : "silentnotes.light.css")" rel="stylesheet" />

    <script src="vue.min.js"></script>
    <script src="jquery-3.5.1.slim.min.js"></script>
    <script src="silentnotes.js"></script>

    <style type="text/css">
    </style>
    <script>
        @{WriteLiteral(Model.VueDataBindingScript);}
    </script>
</head>
<body><div id="vueDataBinding">
    <nav id="navigation" class="d-flex">
        <button class="nav-item mr-auto" v-on:click="GoBackCommand" title="@Model.Language["back"]">@{WriteLiteral(Model.Icon["arrow-left"]);}</button>
    </nav>

    <div id="content" class="container-fluid p-4">
        <div class="row">
            <div class="col-sm-4">
                <img src="SilentNotes256.png" class="pb-3 img-fluid" />
            </div>

            <div class="col-sm-8">
                <h1>SilentNotes</h1>

                <table class="my-3 table table-sm">
                    <tr>
                        <th class="">@Model.Language["version"]</th>
                        <td v-once>{{ VersionFmt }}</td>
                    </tr>
                    <tr>
                        <th class="">@Model.Language["copyright"]</th>
                        <td>Martin Stoeckli - 2017</td>
                    </tr>
                    <tr>
                        <th class="">@Model.Language["website"]</th>
                        <td><a v-on:click="OpenHomepageCommand" class="a" href="#">https://www.martinstoeckli.ch/silentnotes</a></td>
                    </tr>
                    <tr>
                        <th class="">@Model.Language["opensource"]</th>
                        <td>@Model.Language["opensource_desc"]</td>
                    </tr>
                </table>

                <p>@Model.Language["license"]</p>
            </div>
        </div>
    </div>
</div></body>
</html>
