@using SilentNotes.ViewModels
@model MergeChoiceViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="@Model.HtmlBase">
    <title>SilentNotes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="silentnotes.css" rel="stylesheet" />

    <script src="jquery-3.2.1.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="silentnotes.js"></script>

    <style type="text/css">
        body { background: url(@Model.BackgroundTexture); }
        .list-group {
            max-width: 360px;
        }
        .list-group-item {
            cursor: pointer;
        }
        .arrow {
            font-size: 18pt;
            color: ForestGreen;
        }
        .btn-text {
        }
    </style>
    <script>
    </script>
</head>
<body style="background-color: @Model.BackgroundColor">
    <nav id="navigation" class="d-flex">
        <button class="nav-item mr-auto" onclick="bind(event);" data-binding="GoBack" title="@Model.Language["back"]">@{WriteLiteral(Model.Icon["arrow-left"]);}</button>
    </nav>

    <div id="content" class="container-fluid p-4">
        <h1>@Model.Language["cloud_service_choice"]</h1>

        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action d-flex" onclick="bind(event)" data-binding="UseMergedRepository">
                <span class="arrow align-items-center mr-3">➜</span><span class="btn-text">@Model.Language["sync_repository_merge"]</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action d-flex" onclick="bind(event)" data-binding="UseCloudRepository">
                <span class="arrow align-items-center mr-3">➜</span><span class="btn-text">@Model.Language["sync_repository_cloud"]</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action d-flex" onclick="bind(event)" data-binding="UseLocalRepository">
                <span class="arrow align-items-center mr-3">➜</span><span class="btn-text">@Model.Language["sync_repository_device"]</span>
            </button>
        </div>
    </div>
</body>
</html>
