@using SilentNotes.ViewModels
@model NoteRepositoryViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="@Model.HtmlBase">
    <title>SilentNotes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link href="@Model.HtmlRecource["bootstrapcss"]" rel="stylesheet" />
    <link href="silentnotes.css" rel="stylesheet" />
    <link href="@(Model.Theme.DarkMode ? "silentnotes.dark.css" : "silentnotes.light.css")" rel="stylesheet" />

    <script src="@Model.HtmlRecource["vuejs"]"></script>
    <script src="@Model.HtmlRecource["jqueryjs"]"></script>
    <script src="@Model.HtmlRecource["bootstrapjs"]"></script>
    <script src="silentnotes.js"></script>
    <script src="Sortable.min.js"></script>

    <style type="text/css">
body {
    @(Model.Theme.CssBackgroundColor)
    @(Model.Theme.CssBackgroundImage)
}

.note-viewer {
    font-size: @(Model.NoteBaseFontSize)px !important;
}
.note-viewer a {
    pointer-events: none; /* ignore clicks on links */
    cursor: default;
}
.note-card {
    min-height: @(Model.NoteMinHeight)px;
    max-height: @(Model.NoteMaxHeight)px;
}

div .note-viewer.over-view.checklist p::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
div.dark .note-viewer.over-view.checklist p::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }
div .note-viewer.over-view.checklist p.done::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("check-box-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
div.dark .note-viewer.over-view.checklist p.done::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("check-box-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }
div .note-viewer.over-view.checklist p.disabled::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
div.dark .note-viewer.over-view.checklist p.disabled::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }

.nav-filter {
    margin: 0 1em 0 0;
    padding: 0 5px 0 10px;
    max-width: 280px;
    height: 28px;
    border-radius: 14px;
}
.nav-filter input {
    border: none;
    border-width: 0;
    outline: none;
    font-size: 1.1em;
    width: calc(100% - 24px);
}
.nav-filter #filter-icon-placeholder {
    width: 24px;
}

.locked {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.locked svg {
    width: 100%;
    height: 100%;
    fill: rgba(160, 160, 160, 0.4);
}
.locked.dark svg {
    fill: rgba(204, 204, 204, 0.4);
}
.greenish, .greenish.dark {
	fill: #0a480a;
	background-color: #1bbb1b;
}
.reddish, .reddish.dark {
	fill: #470a0a;
	background-color: #be1c1c;
}
.fab { right: 3.2em; } /* should not cover icons */
    </style>
    <script>
        function showNote(e) {
            vueCommandExecute('ShowNoteCommand', e.currentTarget.parentNode.attributes['data-note'].value);
        }

        function deleteNote(e) {
            vueCommandExecute('DeleteNoteCommand', e.currentTarget.parentNode.attributes['data-note'].value);
        }

        function addToSafe(e) {
            vueCommandExecute('AddToSafeCommand', e.currentTarget.parentNode.attributes['data-note'].value);
        }

        function removeFromSafe(e) {
            vueCommandExecute('RemoveFromSafeCommand', e.currentTarget.parentNode.attributes['data-note'].value);
        }

        function scrollToTop() {
            var element = document.querySelector('#content');
            element.scrollTop = 0;
        }

        function scrollToBottom() {
            var element = document.querySelector('#content');
            element.scrollTop = element.scrollHeight;
        }

        function setSelectedTag(e) {
            vm.SelectedTag = e.currentTarget.attributes['data-tag'].value;
        }

        @{WriteLiteral(Model.VueDataBindingScript);}
    </script>
</head>
<body><div id="vueDataBinding">
    <nav id="navigation" class="d-flex">
        <div class="btn-group btn-group-sm align-self-center ml-auto mr-1">
            <button id="tag-selector" type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="tag-selector-text">{{SelectedTag}}</span>
            </button>
            <div class="dropdown-menu">
                <div class="dropdown-item" v-for="Tag in Tags" onclick="setSelectedTag(event);" v-bind:data-tag="Tag">{{Tag}}</div>
            </div>
        </div>
        <div class="nav-item nav-filter flex-grow-1 align-self-center">
            <input id="Filter" class="" v-on:input="Filter = $event.target.value;" autocomplete="off" v-focus value="@Model.Filter"/>
            <div id="filter-icon-placeholder">
                <svg id="filter-icon" v-if="!IsFiltered" width='24' height='24' viewBox='0 0 24 24'><use xlink:href="#svg-magnify" /></svg>
                <svg id="filter-cancel-icon" v-if="IsFiltered" width='24' height='24' viewBox='0 0 24 24' v-on:click="ClearFilterCommand"><use xlink:href="#svg-close-circle-outline" /></svg>
            </div>
        </div>

        <button class="nav-item" v-on:click="SynchronizeCommand" title="@Model.Language["sync_notes"]">@{WriteLiteral(Model.Icon["cloud-sync"]);}</button>

        <div class="dropdown">
            <button class="nav-item" id="navOverflowMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{WriteLiteral(Model.Icon["dots-vertical"]);}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navOverflowMenu">
                <div class="dropdown-item" v-on:click="NewNoteCommand"><svg><use xlink:href="#svg-note-text-outline" /></svg> @Model.Language["note_create_new"]</div>
                <div class="dropdown-item" v-on:click="NewChecklistCommand"><svg><use xlink:href="#svg-order-bool-ascending-variant" /></svg> @Model.Language["checklist_create_new"]</div>
                <div class="dropdown-item" v-on:click="ShowRecycleBinCommand">@{WriteLiteral(Model.Icon["delete-empty"]);} @Model.Language["show_recyclebin"]</div>
                <div class="dropdown-item" v-on:click="ShowExportCommand">@{WriteLiteral(Model.Icon["export"]);} @Model.Language["show_export"]</div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item" @if (Model.IsAnySafeOpen) { @("hidden") ; } v-on:click="OpenSafeCommand">@{WriteLiteral(Model.Icon["safe-square-outline"]);} @Model.Language["safe_open"]</div>
                <div class="dropdown-item" @if (!Model.IsAnySafeOpen) { @("hidden") ; } v-on:click="CloseSafeCommand">@{WriteLiteral(Model.Icon["safe-square-outline"]);} @Model.Language["safe_close"]</div>
                <div class="dropdown-item" v-on:click="ChangeSafePasswordCommand">@{WriteLiteral(Model.Icon["lock-reset"]);} @Model.Language["safe_change_password"]</div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item" v-on:click="ShowTransferCodeCommand">@{WriteLiteral(Model.Icon["key"]);} @Model.Language["show_transfer_code"]</div>
                <div class="dropdown-item" v-on:click="ShowSettingsCommand">@{WriteLiteral(Model.Icon["settings"]);} @Model.Language["show_settings"]</div>
                <div class="dropdown-item" v-on:click="ShowInfoCommand">@{WriteLiteral(Model.Icon["information"]);} @Model.Language["show_info"]</div>
            </div>
        </div>
    </nav>

    <div class="fab dropup">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">@{WriteLiteral(Model.Icon["plus"]);}</a>
        <div class="dropdown-menu">
            <a v-on:click="NewNoteCommand" href="#"><svg><use xlink:href="#svg-note-text-outline" /></svg></a>
            <a v-on:click="NewChecklistCommand" href="#"><svg><use xlink:href="#svg-order-bool-ascending-variant" /></svg></a>
        </div>
    </div>

    <div id="content" class="p-2">
        <ul id="note-repository"></ul>
    </div>

    <div hidden>
        @{WriteLiteral(Model.Icon.LoadIcon("magnify", new[] { new KeyValuePair<string, string>("id", "svg-magnify") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("close-circle-outline", new[] { new KeyValuePair<string, string>("id", "svg-close-circle-outline") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("arrow-all", new[] { new KeyValuePair<string, string>("id", "svg-arrow-all") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("lock", new[] { new KeyValuePair<string, string>("id", "svg-lock") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("lock-open-variant", new[] { new KeyValuePair<string, string>("id", "svg-lock-open-variant") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("lock-outline", new[] { new KeyValuePair<string, string>("id", "svg-lock-outline") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("delete", new[] { new KeyValuePair<string, string>("id", "svg-delete") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("note-text-outline", new[] { new KeyValuePair<string, string>("id", "svg-note-text-outline") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("order-bool-ascending-variant", new[] { new KeyValuePair<string, string>("id", "svg-order-bool-ascending-variant") }));}
    </div>
</div></body>
</html>
