@using SilentNotes.ViewModels
@model NoteRepositoryViewModel
<ul id="note-repository" class="wraplist selectable sortable">
    @foreach (var note in @Model.FilteredNotes)
    {
    <li class="wraplist-item sortable-item" data-note="@note.Id.ToString()">
        <div class="note-card" style="background-color:@note.BackgroundColorHex" onclick="bind(event);" data-binding="ShowNote">
            @if (@note.IsLocked)
            {
                <span class="locked @note.GetDarkClass()"><svg width='24' height='24' viewBox='0 0 24 24'><use xlink:href="#svg-lock-outline" /></svg></span>
            }
            else
            {
                <div class="note-viewer over-view @note.GetDarkClass() @note.CssClassNoteType">@{WriteLiteral(note.UnlockedHtmlContent);}</div>
            }
        </div>
        <div class="note-handle sortable-handle @note.GetDarkClass()"><svg width='22' height='22' viewBox='0 0 24 24'><use xlink:href="#svg-arrow-all" /></svg></div>
        <div class="note-handle safe-handle greenish @if (!@Model.IsAnySafeOpen || @note.IsInSafe || @note.IsLocked) { <text>hidden</text> } @note.GetDarkClass()" onclick="bind(event);" data-binding="AddToSafe"><svg width='18' height='18' viewBox='0 0 24 24'><use xlink:href="#svg-lock-open-variant" /></svg></div>
        <div class="note-handle safe-handle reddish @if (!@Model.IsAnySafeOpen || !@note.IsInSafe || @note.IsLocked) { <text>hidden</text> } @note.GetDarkClass()" onclick="bind(event);" data-binding="RemoveFromSafe"><svg width='18' height='18' viewBox='0 0 24 24'><use xlink:href="#svg-lock" /></svg></div>
        <div class="note-handle recycle-handle @note.GetDarkClass()" onclick="bind(event);" data-binding="DeleteNote"><svg width='19' height='19' viewBox='0 0 24 24'><use xlink:href="#svg-delete" /></svg></div>
    </li>
    }
</ul>
