@using SilentNotes.ViewModels
@model NoteRepositoryViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="@Model.HtmlBase">
    <title>SilentNotes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="silentnotes.css" rel="stylesheet" />
    <link href="@(Model.Theme.DarkMode ? "silentnotes.dark.css" : "silentnotes.light.css")" rel="stylesheet" />

    <script src="jquery-3.4.1.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="silentnotes.js"></script>
    <script src="Sortable.min.js"></script>

    <style type="text/css">
body {
    @(Model.Theme.CssBackgroundColor)
    @(Model.Theme.CssBackgroundImage)
}

.note-viewer {
    font-size: @(Model.NoteBaseFontSize)px !important;
}
.note-viewer a {
    pointer-events: none; /* ignore clicks on links */
    cursor: default;
}
.note-viewer.over-view.checklist p::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
.note-viewer.dark.over-view.checklist p::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }
.note-viewer.over-view.checklist p.done::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("check-box-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
.note-viewer.dark.over-view.checklist p.done::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("check-box-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }
.note-viewer.over-view.checklist p.disabled::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#000000") }));}; }
.note-viewer.dark.over-view.checklist p.disabled::before { content: @{WriteLiteral(Model.Icon.LoadIconAsCssUrl("checkbox-blank-outline", new[] { new KeyValuePair<string, string>("fill", "#FFFFFF") }));}; }

.nav-filter {
    margin: 0 1em 0 0;
    width: 200px;
    height: 28px;
    border-radius: 14px;
}
.nav-filter input {
    margin: auto;
    width: 154px;
    left: 14px;
    border: none;
    border-width: 0;
    outline: none;
    font-size: 1.1em;
}
.locked {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.locked svg {
    width: 100%;
    height: 100%;
    fill: rgba(160, 160, 160, 0.4);
}
.locked.dark svg {
    fill: rgba(204, 204, 204, 0.4);
}
.greenish, .greenish.dark {
	fill: #0a480a;
	background-color: #1bbb1b;
}
.reddish, .reddish.dark {
	fill: #470a0a;
	background-color: #be1c1c;
}
.fab { right: 3.2em; } /* should not cover icons */
    </style>
    <script>
    </script>
</head>
<body>
    <nav id="navigation" class="d-flex">
        <div class="nav-item nav-filter ml-auto d-inline-flex align-self-center">
            <input oninput="bind(event)" data-binding="TxtFilter" autocomplete="off" autofocus />
            <svg id="filter-icon" width='24' height='24' viewBox='0 0 24 24' data-binding="FilterButtonMagnifier"><use xlink:href="#svg-magnify" /></svg>
            <svg id="filter-cancel-icon" width='24' height='24' viewBox='0 0 24 24' class="hidden" onclick="bind(event)" data-binding="FilterButtonCancel"><use xlink:href="#svg-close-circle-outline" /></svg>
        </div>

        <button class="nav-item" onclick="bind(event);" data-binding="Synchronize" title="@Model.Language["sync_notes"]">@{WriteLiteral(Model.Icon["cloud-sync"]);}</button>

        <div class="dropdown">
            <button class="nav-item" id="navOverflowMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{WriteLiteral(Model.Icon["dots-vertical"]);}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navOverflowMenu">
                <div class="dropdown-item" onclick="bind(event);" data-binding="AddNote"><svg><use xlink:href="#svg-note-text-outline" /></svg> @Model.Language["note_create_new"]</div>
                <div class="dropdown-item" onclick="bind(event);" data-binding="AddChecklist"><svg><use xlink:href="#svg-order-bool-ascending-variant" /></svg> @Model.Language["checklist_create_new"]</div>
                <div class="dropdown-item" onclick="bind(event);" data-binding="ShowRecycleBin">@{WriteLiteral(Model.Icon["delete-empty"]);} @Model.Language["show_recyclebin"]</div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item" @if (Model.IsAnySafeOpen) { @("hidden") ; } onclick="bind(event);" data-binding="OpenSafe">@{WriteLiteral(Model.Icon["safe-square-outline"]);} @Model.Language["safe_open"]</div>
                <div class="dropdown-item" @if (!Model.IsAnySafeOpen) { @("hidden") ; } onclick="bind(event);" data-binding="CloseSafe">@{WriteLiteral(Model.Icon["safe-square-outline"]);} @Model.Language["safe_close"]</div>
                <div class="dropdown-item" onclick="bind(event);" data-binding="ChangeSafePassword">@{WriteLiteral(Model.Icon["lock-reset"]);} @Model.Language["safe_change_password"]</div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item" onclick="bind(event);" data-binding="ShowTransferCode">@{WriteLiteral(Model.Icon["key"]);} @Model.Language["show_transfer_code"]</div>
                <div class="dropdown-item" onclick="bind(event);" data-binding="ShowSettings">@{WriteLiteral(Model.Icon["settings"]);} @Model.Language["show_settings"]</div>
                <div class="dropdown-item" onclick="bind(event);" data-binding="ShowInfo">@{WriteLiteral(Model.Icon["information"]);} @Model.Language["show_info"]</div>
            </div>
        </div>
    </nav>

    <div class="fab dropup">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">@{WriteLiteral(Model.Icon["plus"]);}</a>
        <div class="dropdown-menu">
            <a onclick="bind(event);" data-binding="AddNote" href="#"><svg><use xlink:href="#svg-note-text-outline" /></svg></a>
            <a onclick="bind(event);" data-binding="AddChecklist" href="#"><svg><use xlink:href="#svg-order-bool-ascending-variant" /></svg></a>
        </div>
    </div>

    <div id="content" class="p-2">
        <ul id="note-repository"></ul>
    </div>

    <div hidden>
        @{WriteLiteral(Model.Icon.LoadIcon("magnify", new[] { new KeyValuePair<string, string>("id", "svg-magnify") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("close-circle-outline", new[] { new KeyValuePair<string, string>("id", "svg-close-circle-outline") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("arrow-all", new[] { new KeyValuePair<string, string>("id", "svg-arrow-all") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("lock", new[] { new KeyValuePair<string, string>("id", "svg-lock") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("lock-open-variant", new[] { new KeyValuePair<string, string>("id", "svg-lock-open-variant") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("lock-outline", new[] { new KeyValuePair<string, string>("id", "svg-lock-outline") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("delete", new[] { new KeyValuePair<string, string>("id", "svg-delete") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("note-text-outline", new[] { new KeyValuePair<string, string>("id", "svg-note-text-outline") }));}
        @{WriteLiteral(Model.Icon.LoadIcon("order-bool-ascending-variant", new[] { new KeyValuePair<string, string>("id", "svg-order-bool-ascending-variant") }));}
    </div>
</body>
</html>
