@using SilentNotes.ViewModels
@model OpenSafeViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="@Model.HtmlBase">
    <title>SilentNotes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="silentnotes.css" rel="stylesheet" />
    <link href="@(Model.Theme.DarkMode ? "silentnotes.dark.css" : "silentnotes.light.css")" rel="stylesheet" />

    <script src="vue.global.prod.js"></script>
    <script src="jquery-3.5.1.slim.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="silentnotes.js"></script>

    <style type="text/css">
        .background-icon {
            right: -110px;
            top: -172px;
        }
    </style>
    <script>
        @{WriteLiteral(Model.VueDataBindingScript);}
    </script>
</head>
<body><div id="vueDataBinding">
    <nav id="navigation" class="d-flex">
        <button class="nav-item mr-auto" v-on:click="GoBackCommand" title="@Model.Language["back"]">@{WriteLiteral(Model.Icon["arrow-left"]);}</button>

        <div class="dropdown">
            <button class="nav-item" id="navOverflowMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{WriteLiteral(Model.Icon["dots-vertical"]);}
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navOverflowMenu">
                <div class="dropdown-item @if (!Model.SafeExists) { @("disabled") ; }" v-on:click="ResetSafeCommand"><svg><use xlink:href="#svg-safe-square-outline" /></svg> @Model.Language["safe_reset"]</div>
            </div>
        </div>
    </nav>

    <div id="content" class="container-fluid p-4">
        <svg class="background-icon" width='24' height='24' viewBox='0 0 24 24'><use xlink:href="#svg-safe-square-outline" /></svg>

        @if (Model.SafeExists)
        {
            <h2>@Model.Language["safe_open"]</h2>
            <div class="my-4">@Model.Language["safe_open_existing"]</div>
        }
        else
        {
            <h2>@Model.Language["safe_new"]</h2>
            <div class="my-4">@Model.Language["safe_open_new"]</div>
        }

        <form class="mb-4 col-md-9">
            <div class="form-row form-group">
                <label class="col-form-label col-md-3" for="Password">@Model.Language["cloud_password"]</label>
                <div class="col-md-9">
                    <input type="password" v-model="Password" v-bind:class="{ 'is-invalid': InvalidPasswordError }" class="form-control" id="Password" v-focus>
                    <div class="invalid-feedback">@Model.Language["password_short_error"]</div>
                </div>
            </div>
            <div class="form-row form-group mb-4" @if (Model.SafeExists) { @("hidden") ; }>
                <label class="col-form-label col-md-3" for="PasswordConfirmation">@Model.Language["safe_confirm_password"]</label>
                <div class="col-md-9">
                    <input type="password" v-model="PasswordConfirmation" v-bind:class="{ 'is-invalid': InvalidPasswordConfirmationError }" class="form-control" id="PasswordConfirmation">
                    <div class="invalid-feedback">@Model.Language["password_confirmation_error"]</div>
                </div>
            </div>

            <button type="button" class="btn btn-primary mb-2" v-on:click="OkCommand">@Model.Language["ok"]</button>
            <button type="button" class="btn btn-secondary mb-2" v-on:click="CancelCommand">@Model.Language["cancel"]</button>
        </form>

        @if (!Model.SafeExists)
        {
            <div class="alert alert-success my-4">@Model.Language["safe_password_requirement"]</div>
        }
    </div>

    <div hidden>
        @{WriteLiteral(Model.Icon.LoadIcon("safe-square-outline", new[] { new KeyValuePair<string, string>("id", "svg-safe-square-outline") }));}
    </div>
</div></body>
</html>
