@using SilentNotes.ViewModels
@model RecycleBinViewModel
<ul id="recycled-notes" class="wraplist">
    @foreach (var note in @Model.RecycledNotes)
    {
        <li id="@note.Id.ToString()" class="wraplist-item">
            <div class="note-card">
                @if (@note.IsLocked)
                {
                    <span class="locked @Model.Theme.CssClassDark"><svg width='24' height='24' viewBox='0 0 24 24'><use xlink:href="#svg-lock-outline" /></svg></span>
                }
                else
                {
                    <div class="note-viewer over-view @Model.Theme.CssClassDark @note.CssClassNoteType">@{WriteLiteral(note.UnlockedHtmlContent);}</div>
                }

                <span class="restore undelete" v-on:click="restoreNote(event);" title="@Model.Language["note_undelete"]">
                    <svg width='24' height='24' viewBox='0 0 24 24'><use xlink:href="#svg-file-restore" /></svg>
                </span>
            </div>
        </li>
    }
</ul>
