@using SilentNotes.ViewModels
@model SettingsViewModel
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <base href="@Model.HtmlBase">
    <title>SilentNotes</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="silentnotes.css" rel="stylesheet" />
    <link href="@(Model.Theme.DarkMode ? "silentnotes.dark.css" : "silentnotes.light.css")" rel="stylesheet" />

    <script src="vue.min.js"></script>
    <script src="jquery-3.4.1.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script src="silentnotes.js"></script>

    <style type="text/css">
        .background-icon {
            right: -128px;
            top: -154px;
        }

        #theme-control {
            height: 90px;
        }

        #color-control {
            height: 50px;
        }

        .theme-preview,
        .color-preview {
            width: 340px;
            max-width: calc(100% - 36px);
        }

        .theme-list,
        .color-list {
            max-height: 360px;
            overflow-y: scroll;
        }

        .theme-item,
        .color-item {
            display: inline-block;
            width: 90px;
            height: 128px;
        }

        .color-btn { color: black; }
        .color-btn.dark { color: white; }
    </style>
    <script>
        function vuePropertyChanged(propertyName, value) {
            var encodedValue = encodeURIComponent(value);
            var url = 'vuePropertyChanged?name=' + propertyName + '&value=' + encodedValue;
            location.href = url;
        }

        var vm;
        ready(function () {
            var _this = this;
            vm = new Vue({
                el: '#page',
                data: {
                    FontSizeStep: 3,
                },
                watch: {
                    FontSizeStep: function (val) { vuePropertyChanged('FontSizeStep', val); },
                }
            });
            //addShortcuts();
        });
    </script>
</head>
<body><div id="page">
    <nav id="navigation" class="d-flex">
        <button class="nav-item mr-auto shortcut-escape" onclick="bind(event);" data-binding="GoBack" title="@Model.Language["back"]">@{WriteLiteral(Model.Icon["arrow-left"]);}</button>
    </nav>

    <div id="content" class="container-fluid p-4">
        <svg class="background-icon" width='24' height='24' viewBox='0 0 24 24'><use xlink:href="#svg-settings" /></svg>

        <h2>@Model.Language["gui"]</h2>
        <form class="mb-4 col-md-9 col-lg-6">
            <div class="form-row form-group">
                <label class="col-form-label" for="font-size">@Model.Language["gui_font_size"]</label>
                <div class="form-control">
                    <input class="custom-range col-sm-6" type="range" id="font-size" v-model="FontSizeStep" min="-3" max="3" step="1">
                </div>
            </div>
            <div class="form-row form-group">
                <label class="col-form-label" for="Theme">@Model.Language["gui_texture"]</label>
                <div id="theme-control" class="form-control">
                    <div id="Theme" class="dropdown">
                        <button class="theme-preview btn m-0 h-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-binding="SelectedTheme" style="background: url(@Model.SelectedTheme.Image);">
                        </button>
                        <div class="dropdown-menu theme-list" aria-labelledby="themeChooser">
                            @foreach (var theme in @Model.Theme.Themes)
                            {
                                <div class="dropdown-item theme-item" onclick="bind(event)" data-binding="SelectedThemePreview" data-theme="@(theme.Id)" style="background: url(@(theme.Image));"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="UseSolidColorTheme" onclick="bind(event)" data-binding="UseSolidColorTheme" @(Model.UseSolidColorTheme ? "checked" : "")>
                        <label class="form-check-label" for="UseSolidColorTheme">@Model.Language["gui_theme_solid_color"]</label>
                    </div>
                </div>
                <div class="form-group col-2">
                    <input class="form-control" type="color" oninput="bind(event)" data-binding="ColorForSolidThemeHex" value="@(Model.ColorForSolidThemeHex)">
                </div>
            </div>
            <div class="form-row form-group">
                <select class="form-control" id="ThemeMode" onchange="bind(event)" data-binding="SelectedThemeMode">
                    <option value="Auto" @(Model.SelectedThemeMode == "Auto" ? "selected" : "")>@Model.Language["gui_theme_auto"]</option>
                    <option value="Dark" @(Model.SelectedThemeMode == "Dark" ? "selected" : "")>@Model.Language["gui_theme_dark"]</option>
                    <option value="Light" @(Model.SelectedThemeMode == "Light" ? "selected" : "")>@Model.Language["gui_theme_light"]</option>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="UseColorForAllNotesInDarkMode" onclick="bind(event)" data-binding="UseColorForAllNotesInDarkMode" @(Model.UseColorForAllNotesInDarkMode ? "checked" : "")>
                        <label class="form-check-label" for="UseColorForAllNotesInDarkMode">@Model.Language["gui_theme_color_all_dark"]</label>
                    </div>
                </div>
                <div class="form-group col-2">
                    <input class="form-control" type="color" oninput="bind(event)" data-binding="ColorForAllNotesInDarkModeHex" value="@(Model.ColorForAllNotesInDarkModeHex)">
                </div>
            </div>

            <div class="form-row form-group">
                <label class="col-form-label" for="Color">@Model.Language["gui_default_color"]</label>
                <div id="color-control" class="form-control">
                    <div id="DefaultNoteColor" class="dropdown">
                        <button id="Color" class="color-preview btn m-0 h-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-binding="DefaultNoteColor" style="background-color: @Model.DefaultNoteColorHex;">
                        </button>
                        <div class="dropdown-menu color-list" aria-labelledby="colorChooser">
                            @foreach (var backgroundColor in @Model.NoteColorsHex)
                            {
                                <div class="dropdown-item color-btn @Model.GetDarkClass(backgroundColor)" onclick="bind(event);" data-binding="DefaultNoteColorPreview" data-notecolorhex="@backgroundColor" style="background-color: @backgroundColor">Lorem ipsum</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row form-group">
                <label class="col-form-label" for="NoteInsertionMode">@Model.Language["gui_note_insertion"]</label>
                <select class="form-control" id="NoteInsertionMode" onchange="bind(event)" data-binding="SelectedNoteInsertionMode">
                    <option value="AtTop" @(Model.SelectedNoteInsertionMode == "AtTop" ? "selected" : "")>@Model.Language["gui_note_insertion_top"]</option>
                    <option value="AtBottom" @(Model.SelectedNoteInsertionMode == "AtBottom" ? "selected" : "")>@Model.Language["gui_note_insertion_bottom"]</option>
                </select>
            </div>
        </form>

        <h2>@Model.Language["encryption"]</h2>
        <form class="mb-4 col-md-9 col-lg-6">
            <div class="form-row form-group">
                <label class="col-form-label" for="EncryptionAlgorithm">@Model.Language["encryption_algorithm"]</label>
                <select class="form-control" id="EncryptionAlgorithm" onchange="bind(event)" data-binding="SelectedEncryptionAlgorithm">
                    @foreach (var algorithm in @Model.EncryptionAlgorithms)
                    {
                        <option value="@algorithm.Value" @(Model.SelectedEncryptionAlgorithm == algorithm ? "selected" : "")>@algorithm.Description</option>
                    }
                </select>
            </div>
        </form>

        <h2>@Model.Language["sync"]</h2>
        <form class="mb-4 col-md-9 col-lg-6">
            <div class="form-row form-group">
                <label class="col-form-label" for="AutoSyncMode">@Model.Language["sync_auto"]</label>
                <select class="form-control" id="AutoSyncMode" onchange="bind(event)" data-binding="SelectedAutoSyncMode">
                    <option value="Never" @(Model.SelectedAutoSyncMode == "Never" ? "selected" : "")>@Model.Language["sync_auto_never"]</option>
                    <option value="CostFreeInternetOnly" @(Model.SelectedAutoSyncMode == "CostFreeInternetOnly" ? "selected" : "")>@Model.Language["sync_auto_costfree"]</option>
                    <option value="Always" @(Model.SelectedAutoSyncMode == "Always" ? "selected" : "")>@Model.Language["sync_auto_always"]</option>
                </select>
            </div>
            <div class="form-row form-group">
                <label class="col-form-label" for="CloudStorageSettings">@Model.Language["cloud_service"]</label>
                <textarea class="form-control" id="CloudStorageSettings" data-binding="CloudStorageSettings" rows="4" readonly>@Model.AccountSummary</textarea>
            </div>
            <button type="button" class="btn btn-secondary mb-2" onclick="bind(event)" data-binding="ChangeCloudSettingsCommand" title="@Model.Language["cloud_change_settings_desc"]">@Model.Language["cloud_change_settings"]</button>
            <button type="button" class="btn btn-secondary mb-2" onclick="bind(event)" data-binding="ClearCloudSettingsCommand" title="@Model.Language["cloud_clear_settings_desc"]">@Model.Language["cloud_clear_settings"]</button>
        </form>
    </div>

    <div hidden>
        @{WriteLiteral(Model.Icon.LoadIcon("settings", new[] { new KeyValuePair<string, string>("id", "svg-settings") }));}
    </div>
</div></body>
</html>
