@attribute [Route(RouteNames.Import)]
@inherits PageBase

@using SilentNotes.Models
@using SilentNotes.ViewModels
@using SilentNotes.Services

@inject ILanguageService LanguageService
@inject INavigationService NavigationService
@inject IFeedbackService FeedbackService
@inject ISvgIconService IconService
@inject IRepositoryStorageService RepositoryStorageService
@inject IFilePickerService FilePickerService
@inject IJSRuntime JSRuntime
@inject INavigationService Navigation

@* Main menu *@
<MudAppBar Class="flex-none" Fixed="true" Dense="true" WrapContent="false">
	<MudIconButton OnClick="@(() => Navigation.NavigateTo(BackRoute))" Icon="@IconService[IconNames.ArrowLeft]" Color="Color.Inherit" title="@LanguageService["back"]" Edge="Edge.Start" />
</MudAppBar>

@* watermark image *@
<MudIcon Class="background-icon" Icon="@IconService[IconNames.Import]" Style="@($"right:-30px; top:-100px;")" />

@* body *@
<MudMainContent>
	<MudContainer Class="ms-0" MaxWidth="MaxWidth.Medium">
		<div id="content" class="py-3">
			<h1 class="h-colored">@LanguageService["show_import"]</h1>

			<p class="my-4">@(string.Format(LanguageService["import_desc"], LanguageService["backup_restore"]))</p>

			<MudForm>
				<div class="mb-4">
					<label for="ImportFormat">@LanguageService["import_format"]</label>
					<MudSelect id="ImportFormat" @bind-Value="ViewModel.ImportFormat" Variant="Variant.Outlined">
						<MudSelectItem Value="@("jex")">Joplin (*.jex)</MudSelectItem>
					</MudSelect>
				</div>
				<div class="mb-4">
					<label for="ImportStrategy">@LanguageService["import_strategy_desc"]</label>
					<MudSelect id="ImportStrategy" @bind-Value="ViewModel.Strategy" Variant="Variant.Outlined">
						<MudSelectItem Value="@(ImportStrategy.IgnoreExisting)">@LanguageService["import_strategy_ignore"]</MudSelectItem>
						<MudSelectItem Value="@(ImportStrategy.OverwriteExisting)">@LanguageService["import_strategy_overwrite"]</MudSelectItem>
					</MudSelect>
				</div>
			</MudForm>

			<MudStack Class="my-4" Row="true" Justify="Justify.FlexEnd" Spacing="1">
				<MudButton OnClick="@(() => Navigation.NavigateTo(BackRoute))" Color="Color.Default" Variant="Variant.Filled">@LanguageService["cancel"]</MudButton>
				<MudButton @ref="_okButton" OnClick="@(() => ViewModel.OkCommand.Execute(null))" Color="Color.Primary" Variant="Variant.Filled">@LanguageService["ok"]</MudButton>
			</MudStack>
		</div>
	</MudContainer>
</MudMainContent>

@code {
	private MudBaseButton _okButton;
	private IJSObjectReference _jsModule;
	private RelayMarkdownConverter _markdownConverter;

	protected override void OnInitialized()
	{
		// We delegate the conversion between HTML and Markdown to the Tiptap editor.
		_markdownConverter = new RelayMarkdownConverter(
			(html) => throw new NotImplementedException(), // Not needed for import
			(markdown) => ConvertMarkdownToHtml(markdown)
		);
		ViewModel = new ImportViewModel(NavigationService, LanguageService, FeedbackService, RepositoryStorageService, FilePickerService, _markdownConverter);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_jsModule = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Views/ImportPage.razor.js");

			await KeyboardShortcuts.InitializeAsync(JSRuntime);
			KeyboardShortcuts
				.AddShortcut(new SnKeyboardShortcut(SnKey.Escape), () => Navigation.NavigateTo(BackRoute))
				.AddShortcut(new SnKeyboardShortcut(SnKey.Enter), async () => await SnKeyboardShortcuts.SimulateClickAsync(_okButton));
		}
	}

	private ValueTask<string> ConvertMarkdownToHtml(string markdown)
	{
		return _jsModule.InvokeAsync<string>("convertMarkdownToHtml", markdown);
	}

	private ImportViewModel ViewModel { get; set; }
}