@page "/info"
@inherits PageBase

@using SilentNotes.Models
@using SilentNotes.ViewModels
@using SilentNotes.Services

@inject ILanguageService LanguageService
@inject ISvgIconService IconService
@inject IVersionService VersionService
@inject INativeBrowserService NativeBrowserService
@inject IJSRuntime JSRuntime
@inject INavigationService Navigation
@inject IRepositoryStorageService RepositoryStorageService

@* Main menu *@
<MudAppBar Class="flex-none" Fixed="true" Dense="true" WrapContent="false">
	<MudIconButton OnClick="@(() => Navigation.NavigateTo(BackRoute))" Icon="@IconService[IconNames.ArrowLeft]" Color="Color.Inherit" Class="mr-5" Title="@LanguageService["back"]" Edge="Edge.Start" />
</MudAppBar>

@* body *@
<MudMainContent>
	<MudContainer Class="ms-0" MaxWidth="MaxWidth.Medium">
		<div id="content" class="py-3">
			<MudGrid>
				<MudItem sm="4">
					<MudPaper Class="ml-2 mr-5 mb-1 pa-2 rounded-xl" Elevation="1" Style="max-width:220px; background-color:#57b0e3">
						<MudImage @onclick="ToggleSupport" Src="appicon.svg" Fluid="true" />
					</MudPaper>
				</MudItem>
				<MudItem sm="8">
					<h1 class="h-colored mb-3">SilentNotes</h1>

					<MudSimpleTable Elevation="0" Striped="true">
						<tbody>
							<tr>
								<th>@LanguageService["version"]</th>
								<td>@ViewModel.VersionFmt</td>
							</tr>
							<tr>
								<th>@LanguageService["copyright"]</th>
								<td>Martin Stoeckli - 2017</td>
							</tr>
							<tr>
								<th>@LanguageService["website"]</th>
								<td><MudLink OnClick="@(() => ViewModel.OpenHomepageCommand.Execute(0))">www.martinstoeckli.ch/silentnotes</MudLink></td>
							</tr>
							<tr>
								<th>@LanguageService["opensource"]</th>
								<td>@LanguageService["opensource_desc"]</td>
							</tr>
							<tr></tr>
						</tbody>
					</MudSimpleTable>

					<MudAlert Class="my-3" Severity="Severity.Success" Elevation="1">@LanguageService["license"]</MudAlert>

					@if (_supportCounter >= 5)
					{
						<div>@ViewModel.SupportInfos</div>
					}
				</MudItem>
			</MudGrid>
		</div>
	</MudContainer>
</MudMainContent>

@code {
	private int _supportCounter;

	protected override void OnInitialized()
	{
		ViewModel = new InfoViewModel(VersionService, NativeBrowserService, RepositoryStorageService);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await KeyboardShortcuts.InitializeAsync(JSRuntime);
			KeyboardShortcuts
				.AddShortcut(new SnKeyboardShortcut(SnKey.Escape), () => Navigation.NavigateTo(BackRoute));
		}
	}

	private InfoViewModel ViewModel { get; set; }

	/// <summary>
	/// Shows additional support information after 5 clicks on the image.
	/// </summary>
	private void ToggleSupport()
	{
		_supportCounter++;
		if (_supportCounter == 5)
			StateHasChanged();
	}
}