@page "/"
@using SilentNotes.Services

@inject ISnackbar Snackbar
@inject ILanguageService LanguageService
@inject ISvgIconService IconService

@implements IDisposable

<MudAppBar Fixed="true" Class="" Dense="true">
    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
    <MudText>blaskjglsajflk</MudText>

    <MudSpacer />

    <MudTooltip Text="Add new item">
        <MudIconButton Icon="@Icons.Material.Outlined.Add" />
    </MudTooltip>
    <MudIconButton Icon="@Icons.Material.Outlined.Edit" />

    <MudMenu @ref="OverflowMenu" Dense="true" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
        <ActivatorContent>
            <MudIconButton Icon="@Icons.Material.Filled.MoreVert" />
        </ActivatorContent>
        <ChildContent>
            <MudNavMenu Rounded="true" Margin="Margin.Dense" Class="pa-1">
                <MudNavLink OnClick="DoClick" Icon="@IconService.GetSvgLink("note-text-outline")">@LanguageService["note_create_new"]</MudNavLink>
                <MudDivider />
                <MudNavGroup Title="Settings" Icon="@Icons.Material.Filled.Settings">
                    <MudNavLink OnClick="DoClick" Icon="@Icons.Material.Filled.People" IconColor="Color.Success">Users</MudNavLink>
                    <MudNavLink OnClick="DoClick" Icon="@Icons.Material.Filled.Security" IconColor="Color.Info">Security</MudNavLink>
                </MudNavGroup>
            </MudNavMenu>
        </ChildContent>
    </MudMenu>
</MudAppBar>

<div Style="background-color:#aaaaaa">
    <h3>NoteRepositoryPage</h3>

</div>

<div hidden>
    @* Declaring icons once and linking to them multiple times, can reduce the page size *@
    @IconService.GetLinkableSvg("magnify");
    @IconService.GetLinkableSvg("close-circle-outline");
    @IconService.GetLinkableSvg("arrow-all");
    @IconService.GetLinkableSvg("lock");
    @IconService.GetLinkableSvg("lock-open-variant");
    @IconService.GetLinkableSvg("lock-outline");
    @IconService.GetLinkableSvg("delete");
    @IconService.GetLinkableSvg("note-text-outline");
    @IconService.GetLinkableSvg("pin");
    @IconService.GetLinkableSvg("order-bool-ascending-variant");
    @IconService.GetLinkableSvg("tag-multiple");
    @IconService.GetLinkableSvg("tag-off");
</div>

@code {
    private MudMenu OverflowMenu { get; set; }

    private void DoClick(MouseEventArgs args)
    {
        Snackbar.Add("OnClick Invoked");
        OverflowMenu.CloseMenu();
    }

    public void Dispose()
    {
    }
}
