@page "/opensafe"
@page "/opensafe/targetnote/{TargetNoteId}"
@using System.Security
@using SilentNotes.Models
@using SilentNotes.ViewModels
@using SilentNotes.Services

@inject ILanguageService LanguageService
@inject ISvgIconService IconService
@inject ISettingsService SettingsService
@inject IFeedbackService FeedbackService
@inject ICryptoRandomService RandomService
@inject IRepositoryStorageService RepositoryService

<style type="text/css">
</style>

@* Main menu *@
<MudAppBar Fixed="true" Dense="true">
    <MudIconButton Href="/back" Icon="@IconService[IconNames.ArrowLeft]" Color="Color.Inherit" Class="mr-5" Title="@LanguageService["back"]" />
</MudAppBar>

@* watermark image *@
<MudIcon Class="background-icon" Icon="@IconService[IconNames.SafeSquareOutline]" Style="@($"right:-110px; top:-160px;")" />

@* body *@
<MudContainer id="content" Class="mud-container-left" MaxWidth="MaxWidth.Medium">
    @if (ViewModel.SafeExists)
    {
        <h1 class="h-colored">@LanguageService["safe_open"]</h1>
        <div class="my-4">@LanguageService["safe_open_existing"]</div>
    }
    else
    {
        <h1 class="h-colored">@LanguageService["safe_new"]</h1>
        <div class="my-4">@LanguageService["safe_open_new"]</div>
    }

    <MudForm @ref="_form">
        <MudTextField @bind-Value="ViewModel.Password"
            Label="@LanguageService["cloud_password"]"
            Converter="@_secureStringConverter"
            Variant="Variant.Outlined" InputType="@PasswordInputType"
            Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="@(() => IsPasswordVisible = !IsPasswordVisible)" />

        @if (!ViewModel.SafeExists)
        {
            <MudTextField @bind-Value="ViewModel.PasswordConfirmation"
                Label="@LanguageService["safe_confirm_password"]"
                Converter="@_secureStringConverter"
                Variant="Variant.Outlined" InputType="@PasswordInputType" />
        }
    </MudForm>

    <MudPaper Class="d-flex justify-end gap-2 my-4" Elevation="0">
        <MudButton Color="Color.Default" Variant="Variant.Text" Href="/back">@LanguageService["cancel"]</MudButton>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@(()=>_form.Validate())">@LanguageService["ok"]</MudButton>
    </MudPaper>

</MudContainer>

@code {
    private MudForm _form;
    private SecureStringConverter _secureStringConverter;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IsPasswordVisible = false;
        ViewModel = new OpenSafeViewModel(LanguageService, FeedbackService, RandomService, SettingsService, RepositoryService);
        _secureStringConverter = new SecureStringConverter();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private OpenSafeViewModel ViewModel { get; set; }

    [Parameter]
    public string TargetNoteId { get; set; } = default!;

    /// <summary>
    /// Gets or sets a value indicating whether the plaintext of the password is shown.
    /// </summary>
    private bool IsPasswordVisible { get; set; }

    private InputType PasswordInputType
    {
        get { return IsPasswordVisible ? InputType.Text : InputType.Password; }
    }

    private string PasswordInputIcon
    {
        get { return IsPasswordVisible ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff; }
    }
}