@page "/settings"
@using System.ComponentModel
@using SilentNotes.Models
@using SilentNotes.ViewModels
@using SilentNotes.Services

@inject ISnackbar Snackbar
@inject ILanguageService LanguageService
@inject ISvgIconService IconService
@inject ISettingsService SettingsService
@inject IEnvironmentService EnvironmentService
@inject IThemeService ThemeService
@inject IFilePickerService FilePickerService

@implements IDisposable

@* Main menu *@
<MudAppBar Fixed="true" Class="" Dense="true">
    <MudIconButton Href="/back" Icon="@IconService[IconNames.ArrowLeft]" Color="Color.Inherit" Class="mr-5" Title="@LanguageService["back"]" />

    <MudSpacer />

    <MudMenu @ref="_overflowMenu" Dense="true" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
        <ActivatorContent>
            <MudIconButton Icon="@IconService[IconNames.DotsVertical]" Color="Color.Inherit" />
        </ActivatorContent>
        <ChildContent>
            <MudNavMenu Rounded="true" Margin="Margin.Dense" Class="px-1">
                <MudNavLink OnClick="@(() => ViewModel.TestNewLocalizationCommand.ExecuteAndCloseMenu(_overflowMenu))" Icon="@IconService[IconNames.Earth]">@LanguageService["gui_localization_test"]</MudNavLink>
            </MudNavMenu>
        </ChildContent>
    </MudMenu>
</MudAppBar>

@* watermark image *@
<MudIcon Class="background-icon" Icon="@IconService[IconNames.Settings]" Style="@($"right:-128px; top:-154px;")" />

@* body *@
<MudContainer id="content" Class="mud-container-left mud-container-p" MaxWidth="MaxWidth.Small">
    <h2 class="h-colored">@LanguageService["gui_texture"]</h2>

    <MudSelect @bind-Value="ViewModel.SelectedThemeMode"
        Variant="Variant.Outlined">
        <MudSelectItem Value="@("Auto")">@LanguageService["gui_theme_auto"]</MudSelectItem>
        <MudSelectItem Value="@("Dark")">@LanguageService["gui_theme_dark"]</MudSelectItem>
        <MudSelectItem Value="@("Light")">@LanguageService["gui_theme_light"]</MudSelectItem>
    </MudSelect>

    <div class="form-row">
        <div class="form-group">
            <MudCheckBox @bind-Checked="@ViewModel.UseSolidColorTheme" id="UseSolidColorTheme" />
            <label for="UseSolidColorTheme" class="mr-2">@LanguageService["gui_theme_solid_color"]</label>
        </div>

        <div class="form-group">
            <MudElement Class="color-swatch ml-2 mr-0 align-self-end" Style="@ColorSwatchStyle"/>
            <MudColorPicker @bind-Text="@ViewModel.ColorForSolidThemeHex"
                Class="ml-0 mr-4 pa-0"
                Style="width:1px"
                DisableToolbar="true" DisableAlpha="true"
                ColorPickerView="ColorPickerView.Grid" ColorPickerMode="ColorPickerMode.HEX"
                AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" />
        </div>
    </div>


    <MudDivider Class="my-4"/>
    <h2 class="h-colored">@LanguageService["gui"]</h2>

    <MudStack Row="true" AlignItems="AlignItems.Center">
        <MudIcon Icon="@Icons.Material.Filled.FormatSize" Class="mr-2" Color="Color.Secondary" />
        <MudSlider @bind-Value="ViewModel.FontSizeStep"
            Min="-3" Max="3" Step="1" Color="Color.Tertiary">@LanguageService["gui_font_size"]</MudSlider>
    </MudStack>

    <MudStack Row="true" AlignItems="AlignItems.Center">
        <MudIcon Icon="@Icons.Material.Filled.Height" Class="mr-2" Color="Color.Secondary" />
        <MudSlider @bind-Value="ViewModel.NoteMaxHeightStep"
                   Min="-4" Max="4" Step="1" Color="Color.Tertiary">@LanguageService["gui_note_max_size"]</MudSlider>
    </MudStack>

    <MudSelect @bind-Value="ViewModel.SelectedNoteInsertionMode"
        Variant="Variant.Outlined" Label="@LanguageService["gui_note_insertion"]">
        <MudSelectItem Value="@("AtTop")">@LanguageService["gui_note_insertion_top"]</MudSelectItem>
        <MudSelectItem Value="@("AtBottom")">@LanguageService["gui_note_insertion_bottom"]</MudSelectItem>
    </MudSelect>

    <MudCheckBox @bind-Checked="@ViewModel.RememberLastTagFilter" Label="@LanguageService["gui_remember_last_tag_filter"]" />

    <MudCheckBox @bind-Checked="@ViewModel.HideClosedSafeNotes" Label="@LanguageService["gui_hide_closed_safe_notes"]" />

    @if (ViewModel.CanKeepScreenOn)
    {
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudIcon Icon="@Icons.Material.Outlined.Timer" Class="mr-2" Color="Color.Secondary" />
            <MudSlider @bind-Value="ViewModel.KeepScreenOnDuration"
                Min="1" Max="30" Step="1" Color="Color.Tertiary">@ViewModel.KeepScreenOnDurationTitle</MudSlider>
        </MudStack>
    }


    <MudDivider Class="my-4" />
    <h2 class="h-colored">@LanguageService["sync"]</h2>

    <MudSelect @bind-Value="ViewModel.SelectedAutoSyncMode"
        Variant="Variant.Outlined" Label="@LanguageService["sync_auto"]">
        <MudSelectItem Value="@("Never")">@LanguageService["sync_auto_never"]</MudSelectItem>
        <MudSelectItem Value="@("CostFreeInternetOnly")">@LanguageService["sync_auto_costfree"]</MudSelectItem>
        <MudSelectItem Value="@("Always")">@LanguageService["sync_auto_always"]</MudSelectItem>
    </MudSelect>


    <MudDivider Class="my-4" />
    <h2 class="h-colored">@LanguageService["security"]</h2>

    <MudSelect @bind-Value="ViewModel.SelectedEncryptionAlgorithm"

        Variant="Variant.Outlined" Label="@LanguageService["encryption_algorithm"]">
        @foreach (var algorithm in ViewModel.EncryptionAlgorithms)
        {
            <MudSelectItem Value="@algorithm.Value">@algorithm.Description</MudSelectItem>
        }
    </MudSelect>

    @if (ViewModel.CanPreventScreenshots)
    {
        <MudCheckBox @bind-Checked="@ViewModel.PreventScreenshots" Label="@LanguageService["security_prevent_screenshots"]" />
    }
</MudContainer>

@code {
    private MudMenu _overflowMenu;

    protected override void OnInitialized()
    {
        SettingsModel settings = SettingsService.LoadSettingsOrDefault();
        ViewModel = new SettingsViewModel(settings, LanguageService, EnvironmentService, ThemeService, FilePickerService);
        ViewModel.PropertyChanged += PropertyChangedHandler;
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged -= PropertyChangedHandler;
    }

    private SettingsViewModel ViewModel { get; set; }

    private string ColorSwatchStyle
    {
        get { return string.Format("background-color:{0}", ViewModel.ColorForSolidThemeHex); }
    }

    private void PropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        if (e.PropertyName == "page")
            StateHasChanged();
    }
}
